%bg-gradient {
  background: hsla(197, 100%, 71%, 1);

  background: linear-gradient(
    90deg,
    hsla(197, 100%, 71%, 1) 0%,
    hsla(252, 100%, 72%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(197, 100%, 71%, 1) 0%,
    hsla(252, 100%, 72%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(197, 100%, 71%, 1) 0%,
    hsla(252, 100%, 72%, 1) 100%
  );

}


// -------- btn --------

%btnPrimary{
  padding: 10px 18px;
  border-radius: 100px;
  background: #fff;
  color:$text-primary ;
  transition: $transition-primary;
  &:hover {
    background: $btn-primary;
    a {
      color: #fff;
    }
  }
}





